.container {
    width: 300px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
    font-size: 14px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin: 10px 0 5px;
    color: #666;
}
input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
    outline: none;
}
button[type="submit"]{
    width: 50%;
    float: right;
    margin-left: 50%;
}
input[id="quantity"]{
    margin-left: 0;
}
.quantity-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.quantity-buttons {
    display: flex;
}
.quantity-buttons-left button, .quantity-buttons-right button {
    width: 50px;
    height: 35px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.quantity-buttons-left button:hover, .quantity-buttons-right button:hover {
    background-color: #0056b3;
}
button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 70px;
}
button[type="submit"]:hover {
    background-color: #218838;
}
.toggle-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.toggle-group label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.toggle-group input {
    display: none;
}
button[class="changeQuantity"]{
    height: 40px;
    width: 40px;
    background-color: transparent;
    font-size: 14px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}
.toggle-slider {
    width: 30px;
    height: 15px;
    border-radius: 15px;
    background-color: #007bff;
    position: relative;
    transition: background-color 0.3s;
}
.toggle-slider::before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s;
}
input:checked + .toggle-slider {
    background-color: #007bff;
}
input:checked + .toggle-slider::before {
    left: 16px;
}
.amount-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 20px;
    flex: 0;
}
.amount-wrapper label {
    margin: 0;
    width: 60%;
}
.amount-wrapper input {
    width: 20px;
    flex: 1;
    text-align: right;
    border: none;
    float: left;
    margin: 1px 0 0 -10px;
}
